.pageMain {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: var(--size-xl-unit);
}

.allPageContent {
  display: flex;
}

.imageWrapper {
  border-radius: var(--size-xl-unit);
  box-shadow: var(--shadow-box);
  overflow: hidden;
  position: relative;
}

.pageItem {
  margin: var(--size-standard-unit) 0;
}

.title {
  margin-bottom: var(--size-small-unit);
}

.headerSpacer {
  margin-bottom: var(--size-small-unit);
}

.navBarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navBar {
  width: var(--page-width-landscape);
  padding: var(--size-large-unit);
}

@media screen and (orientation: landscape) {
  .allPageContent {
    width: var(--page-width-landscape);
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
  .pageItem {
    display: flex;
    flex-direction: column;
    width: 37.5vw;
    min-height: 37.5vw;
  }
  .imageWrapper {
    width: 35vw;
    height: 35vw;
  }
  .textDispay {
    text-align: left;
  }
}

@media screen and (orientation: portrait) {
  .allPageContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: var(--page-width-portrait);
  }
  .pageItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
  }
  .imageWrapper {
    width: 80vw;
    height: 80vw;
  }
  .headerSpacer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .textDispay {
    text-align: justify;
    padding-top: 0;
  }
}
