.pageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (orientation: landscape) {
  .accordionWrapper {
    margin: 5vh 0;
  }
}

@media screen and (orientation: portrait) {
  .accordionWrapper {
    margin: 2vh 0;
  }
}
